<div class="footer bg-body-tertiary border-top">
  <div class="socials">
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <div class="info">
    <div class="brand">
      <p>&copy; WanderLust Private Limited</p>
    </div>
    <div class="links">
        <a href="/privacy">Privacy Terms</a>
    </div>
  </div>
</div>
