<style>
  .searchbtn {
    background-color: #ff385c;
    color: white;
  }
  .searchbtn:hover {
    background-color: #ff385c;
    color: white;
    border: 1px solid black;
  }
</style>
<nav
  class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom mb-3"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass"></i> WanderLust</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="me-2 ms-auto">
        <input
          type="text"
          class="form-control rounded-pill"
          placeholder="Search destinations"
          size="40"
        />
      </div>
      <button class="btn searchbtn rounded-pill px-4">Search</button>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add Listing</a>
        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"> <b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
